* {
  box-sizing: border-box !important;
  font-family: Montserrat;
}
html {
  background-color: transparent !important;
  overflow: visible !important;
}
.canvas {
  /* height: 600px;
  width: 600px;*/
  position: relative;
  margin: 0px 0 0 0;
  height: 600px;
  width: 600px;
}
.canvas canvas {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* object-fit: contain; */
}
.controls {
  position: absolute;
  background-color: #fff;
  top: 50px;
  right: 0%;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #e2e2e2;
  z-index: 22;
  width: 380px;
}
.navbar {
  z-index: 222;
}
.navbar a {
  margin: 0 10px 0 0px;
  color: #000;
}
